<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AngularJS | Createing simple search box</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.min.js"></script>
    <script src="controller16..js"></script>
  </head>
  <body ng-app="mainApp">
    <h1 id="naslov">AngularJS | Createing simple search box</h1>
    <input type="text" ng-model="searchBox">
    <div ng-controller="people">
        <ul>
          <h2>Ekipa ipo</h2>
          <li ng-repeat="person in persons | filter: searchBox track by $index">
            {{person.Name+" - "+person.Age}}
          </li>
        </ul>
    </div>
  </body>
</html>
