<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AngularJS | Range based loops</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="controller20.js"></script>
  </head>
  <body ng-app="mainApp">
    <h1 id="naslov">AngularJS | Range based loops</h1>
    <div ng-controller="app">
      <li ng-repeat="i in myRange">
        {{i}} <br>
      </li>
      -- <br>
      <li ng-repeat="i in [11,22,33,44,55]">
        {{i}} <br>
      </li>
      -- <br>
      <li ng-repeat="i in rangee track by $index">
        sdfghjk {{$index}}- <br>
      </li>
    </div>
  </body>
</html>
